:root {
    --main-color: #06b6d4;
    --bg-color: white;
    --bg-color-dark: #f1f5f9;
    --accent-color: #22c55e;
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

li {
    list-style: none;
    float: left;
}

.container {
    display: grid;
    grid-template: max-content max-content 1fr/ 1fr 3fr 1fr;
    min-height: 100vh;
}

.header {
    grid-column: 2 / -1;
    grid-row: 1;
}

.nav {
    grid-column: 2 / -1;
    grid-row: 2;
    z-index: 1;
}

.dashboard {
    grid-column: 1;
    grid-row: 1 / -1;
    background-color: var(--main-color);
}

.dashboard *{
    color: var(--bg-color);
}

.dashboard *, .nav  p {
    font-size: 16px;
    font-weight: bold;
}

#name {
    font-size: 32px;
}

.content {
    grid-column: 2;
    grid-row: 3 / -1;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    grid-column: -2;
    grid-row: 3;
}

.sidebar .cell {
    flex: 1 1 100%;
}

.longFlex {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.nav,  .cell{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.cell {
    background-color: var(--bg-color);
    border-radius: 5px;
    border-left: 3px solid var(--accent-color);
}

.content , .sidebar {
    background-color: var(--bg-color-dark);
    padding: 1em 1em 1em;
}