:root {
    --main-color: #2563eb;
    --bg-color: white;
    --bg-color-dark: #e2e8f0;
    --accent-color: #22c55e;
    --text-secondary: #94a3b8
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Roboto, sans-serif;
}

#searchBar {
    border-radius: 50px;
    border: none;
    background-color: var(--bg-color-dark);
    font-size: 32px;
    padding: 0 0.5em;
    width: min(40ch, 100%);
}

ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

li {
    list-style: none;
    float: left;
}

.container {
    display: grid;
    grid-template: max-content max-content 1fr/ max-content 3fr 1fr;
    min-height: 100vh;
}

.header {
    grid-column: 2 / -1;
    grid-row: 1;
    padding-top: 1em;
    margin-bottom: 1em;
}

.nav {
    grid-column: 2 / -1;
    grid-row: 2;
    z-index: 1;
    margin-top: 1em;
    padding-bottom: 1em;
}

.header, .nav {
    padding-left: 2em;
    padding-right: 2em;
}

.dashboard {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 1em 3em 0 1em;
    grid-column: 1;
    grid-row: 1 / -1;
    background-color: var(--main-color);
}

.dashboard *{
    color: var(--bg-color);
}

.dashboard *{
    font-weight: bold;
}

.title {
    font-size: 32px;
    font-weight: Bold;
    text-transform: capitalize;
}

.subtitle {
    font-size: 26px;
}

#mainTitle {
    font-size: 56px;
    font-weight: bold;
}

.mainArea {
    grid-column: 2 / -1;
    grid-row: 3 / -1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: var(--bg-color-dark);
    padding: 1em 1em 1em;
    gap: 20px;
}

.content {
    grid-column: 1;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 1fr;
    gap: 20px;
    height: calc(100% - 3em);
}

.sidebar {
    grid-column: 2;
}

.sidebar .cell {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
}

.longFlex {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.nav,  .cell{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.cell {
    background-color: var(--bg-color);
    border-radius: 5px;
    border-left: 5px solid var(--accent-color);
    padding: 16px;
}

.headerButton {
    border: none;
    border-radius: 50px;
    background-color: var(--main-color);
    color: var(--bg-color);
    padding: .5em 1em;
    font-weight: bold;
    text-transform: capitalize;
}

.description {
    color: var(--text-secondary);
    font-size: 16px;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.dashboard > *{
    gap: 1em;
}

.tabItem {
    display: flex;
    align-items: center;
    gap: 1em;
}

.searchArea {
    display: flex;
    gap: 1em;
    align-items: center;
}

.dashIcon {
    width: 100%;
}

.handle .title::before {
    content: "@";
}

.actions {
    align-self: flex-end;
    margin-top: auto;
}

.greet {
    display: flex;
    align-items: center;
}

img {
    flex: 1 0 0%;
    border-radius: 50%;
    border: 4px solid var(--accent-color);
}

.sidebarArticle {
    padding-bottom: 1em;
    flex: 1 1 100%;
}

.sidebarArticle + .sidebarArticle {
    border-top: 1px solid var(--bg-color-dark);

    padding-top: 1em;
}